

@if (addTaskBtn()){
    <app-new-task (isClosed)="onPopupClosed()"  (enteredTask)="onAppendTask($event)"/>
} @else {
    <section id="tasks">
        <header>
            <h2>{{userName}}'s Tasks</h2>
            <menu>
                <button (click)="showAddTask()">Add Task</button>
            </menu>
        </header>
        <ul>
            @if (userTasks.length){
                @for (task of userTasks; track task.id){
                    <li>
                        <app-task [task]="task" (completedTask)="onTaskComplete($event)"/>
                    </li>
                }
            } @else {
                <li>
                    No tasks
                </li>
            }
        </ul>
    </section>
}
